<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module_social">

    <application>
        <activity
            android:theme="@style/Theme.Kunal_Pasricha_Scaler"
            android:name=".screens.VideosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"/>

    </application>
</manifest>